---
BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 0
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
  AfterControlStatement: false
  AfterClass: false
  AfterEnum: false
  BeforeElse: false
  BeforeCatch: false
  BeforeWhile: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false
  IndentBraces: false
BinPackArguments: false
AllowShortFunctionsOnASingleLine: false
AllowShortBlocksOnASingleLine: false
